In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [3]:
spark

In [4]:
# table 1
spark.sql('select * from stud_courses.course_completion limit 10')

+----------+--------+---------+--------------+-----+---------+
|studentsid|courseid| examdate|attendedstatus|marks|   result|
+----------+--------+---------+--------------+-----+---------+
|     S0189|   C0026|14 Mar 19|      Attended|   86|Qualified|
|     S0092|   C0027|15 Mar 19|      Attended|   77|Qualified|
|     S0091|   C0026|14 Mar 19|      Attended|   86|Qualified|
|     S0090|   C0021|20 Feb 19|      Attended|   90|Qualified|
|     S0089|   C0020|19 Feb 19|      Attended|   90|Qualified|
|     S0020|   C0020|19 Feb 19|      Attended|   90|Qualified|
|     S0044|   C0020|19 Feb 19|      Attended|   90|Qualified|
|     S0049|   C0027|15 Mar 19|      Attended|   77|Qualified|
|     S0293|   C0027|15 Mar 19|      Attended|   77|Qualified|
|     S0045|   C0021|20 Feb 19|      Attended|   90|Qualified|
+----------+--------+---------+--------------+-----+---------+

In [5]:
# table 2
spark.sql('select * from stud_courses.course_details_part limit 5')

+--------+--------------------+----------+----------+----------+
|courseid|               title|competency|complexity|coursetype|
+--------+--------------------+----------+----------+----------+
|   C0001|Certificate in Cl...| Technical|     Basic|     Cloud|
|   C0002|Certificate in Vi...| Technical|     Basic|     Cloud|
|   C0003|Diploma in Inform...|  Security|  Advanced|     Cloud|
|   C0004|BE (Hons) in CSE ...|    Domain|  Advanced|     Cloud|
|   C0005|BTech in Computer...|    Domain|  Advanced|     Cloud|
+--------+--------------------+----------+----------+----------+

In [7]:
# qs - total number of students qualified for each course
spark.sql('select count(*) from stud_courses.course_completion')

+--------+
|count(1)|
+--------+
|     300|
+--------+

In [8]:
# qs - total number of students per result category
spark.sql('select result, count(*) from stud_courses.course_completion group by result')

+-------------+--------+
|       result|count(1)|
+-------------+--------+
|Not Qualified|     149|
|    Qualified|     151|
+-------------+--------+

In [10]:
# qs - total number of students absent
spark.sql("select count(*) from stud_courses.course_completion where attendedstatus='Absent'")

+--------+
|count(1)|
+--------+
|     149|
+--------+

In [6]:
# qs - max, min, avg scored by students
spark.sql('select max(marks), min(marks), avg(marks) from stud_courses.course_completion')

+----------+----------+--------------------------+
|max(marks)|min(marks)|avg(CAST(marks AS DOUBLE))|
+----------+----------+--------------------------+
|        92|         0|        40.013333333333335|
+----------+----------+--------------------------+

In [ ]:
# qs - number of students who have completed each course
spark.sql('')